/* Pseudo Classes */
.lnk{
    font-size: 35px;
    background-color: #fff;
}

.lnk:hover{
    background-color: black;
}

.lnk:active{
    background-color: rgb(0, 150, 87);
}

.lnk:visited{
    background-color: rgb(255, 0, 0);
}

.chl p:first-child{
    color: blue;
}

.chl p:last-child{
    color: red;
}

.chl p:nth-child(3){
    color: aqua;
}

.chl p:nth-child(even){
    color: blueviolet;
}

input[type="text"]:focus{
    background-color: green;
}

input[type="email"]:disabled{
    background-color: black;
}

input[type="checkbox"]:checked + p{
    background-color: brown;
}


/* Pseudo Elements */
.required::before{
    content: '';
    height: 15px;
    width: 15px;
    display: block;
    background-color: red;
}

.required::after{
    content: '';
    height: 15px;
    width: 15px;
    display: block;
    background-color: blue;
}

.frm button{
    position: relative;
}

.frm button:hover::after{
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 5px;
    padding: 5px;
    background-color: lightgray;
}

.para::first-letter{
    color: red;
    font-size: xx-large;
}

.para::first-line{
    color: blue;
    font-variant: small-caps;
}
