/* Basic Styling */

body{
    background-color: #333;
}

/* Box - Transition */

.box{
    background-color: #fff;
    height: 200px;
    width: 200px;
    position: relative;
    margin: auto;
    top: 200px;
    /* transition-property: background-color, border-radius, transform; */
    transition-property: all;
    transition-duration: 1s;
    /* transition-delay: 2s; */
    transition-timing-function: ease-out;
}

.box:hover{
    background-color: coral;
    border-radius: 30%;
    transform: rotateY(180deg);
}